.Register
{
  text-align: center;
  display: flex;
  justify-content: center;

}


.eyereg
{
  top:210px;
  width: 3%;
  position: absolute;
}

.Register form
{
  height: 760px;
}

.Register form input
{
  height: 25px;
  width: 280px;
  font-size: 125%;
  border-radius: 10px;
  background-color: #72baab;
  color:#FFFF;
}

.Register form label
{
  font-size: 200%;
}

img
{
  width: 50px;
}

.Register form input[type='submit']
{
  background-color: #cf291d;
}
.Register form input[type='submit']:hover
{
  background-color: #FFFF;
  color:#cf291d;
  animation-name: button-animations;
  animation-duration: 1s;
  cursor: pointer;
}


/*Animations*/
@keyframes button-animations {
  from {background-color:#cf291d; color:#FFFF; }
  to {background-color: #FFFF; color:#cf291d;}
}
